# Name: jcuda_imagej_example
# Author: Marco Hutter
# Version: 0.0.1-SNAPSHOT
# Date: 2018/04/30
# Requires: ImageJ

# Name: Auto_LF_Deconvolution
# Author: Onetism_SU
# Version: 0.1
# Date: 2020/11/25
# Requires: ImageJ

Plugins>AutoDeconJ, "Run Auto_LF_Deconvolution...", Auto_LF_Deconvolution("run")
Plugins>AutoDeconJ, "Run ImageRectification...", ImageRectification("run")